h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* basic spacing so it doesn’t look squished */
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

main p {
    font-weight: bold;
    margin-top: 20px;
}

ul {
    margin-top: 5px;
}